<ul id="contact">

    <li class="contact-item">
        <a href="http://github.com/tuckbick" title="github.com/tuckbick" target="_blank"><i class="github"></i></a>
    </li>

    <li class="contact-item">
        <a href="http://codepen.io/tuckbick" title="codepen.io/tuckbick" target="_blank"><i class="codepen"></i></a>
    </li>

    <li class="contact-item">
        <a href="http://www.linkedin.com/in/tuckbick/" title="linkedin.com/in/tuckbick" target="_blank"><i class="linkedin"></i></a>
    </li>

    <li class="contact-item">
        <a href="http://twitter.com/tuckbick" title="twitter.com/tuckbick" target="_blank"><i class="twitter"></i></a>
    </li>

    <li class="contact-item">
        <a href="http://tuckbick.tumblr.com/" title="tuckbick.tumblr.com" target="_blank"><i class="tumblr"></i></a>
    </li>

    <li class="contact-item">
        <a href="https://foursquare.com/tuckbick" title="foursquare.com/tuckbick" target="_blank"><i class="foursquare"></i></a>
    </li>

    <li class="contact-item">
        <a href="mailto:tuckersworld@gmail.com" title="tuckersworld@gmail.com" target="_blank"><i class="email"></i></a>
    </li>

    <li class="contact-item">
        <a href="http://tuckbick.com/rss" title="tuckbick.com/rss" target="_blank"><i class="rss"></i></a>
    </li>

</ul>