@import url(http://fonts.googleapis.com/css?family=Rokkitt);
/* -----------------------------------------
   Defaults
----------------------------------------- */
/* line 25, ../scss/home.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  position: relative;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

/* line 37, ../scss/home.scss */
html {
  font-size: 10px;
}

/* line 41, ../scss/home.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 44, ../scss/home.scss */
body {
  line-height: 1;
}

/* line 47, ../scss/home.scss */
ol, ul {
  list-style: none;
}

/* line 50, ../scss/home.scss */
img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
}

/* -----------------------------------------
   Scaffolding
----------------------------------------- */
/* line 62, ../scss/home.scss */
.row {
  width: 100%;
  *zoom: 1;
}
/* line 66, ../scss/home.scss */
.row:before, .row:after {
  content: "";
  display: table;
}
/* line 70, ../scss/home.scss */
.row:after {
  clear: both;
}
/* line 73, ../scss/home.scss */
.row .col {
  float: left;
}

/* -----------------------------------------
   Specifics.
----------------------------------------- */
/* line 86, ../scss/home.scss */
body {
  font-family: 'Rokkitt', Georgia, serif;
  background: whitesmoke;
  color: #0a0a0a;
  text-align: center;
  letter-spacing: 1px;
}

/* line 94, ../scss/home.scss */
a {
  text-decoration: none;
  color: #0a0a0a;
  padding: 0 0.25em;
}
/* line 99, ../scss/home.scss */
a:hover {
  background-color: #0a0a0a;
  color: whitesmoke;
}
/* line 103, ../scss/home.scss */
a:active, a:visited, a:focus {
  outline: none;
}

/* line 108, ../scss/home.scss */
.wrapper {
  max-width: 720px;
  margin: 5em auto;
}

/* line 113, ../scss/home.scss */
header h1 {
  font-size: 5em;
}

/* line 117, ../scss/home.scss */
nav {
  font-size: 1.6em;
  margin: 1.2em 0 3em;
}
/* line 121, ../scss/home.scss */
nav .del {
  display: inline-block;
  font-size: 0.56em;
  margin: 0 1em;
}

/* line 128, ../scss/home.scss */
.contact {
  font-size: 2.4em;
  margin-top: 2em;
  line-height: 1.45;
}

@media screen and (max-width: 480px) {
  /* line 137, ../scss/home.scss */
  .wrapper {
    margin: 1.65em auto;
  }

  /* line 140, ../scss/home.scss */
  header h1 {
    font-size: 3.3em;
  }

  /* line 143, ../scss/home.scss */
  nav {
    margin-top: 0.66em;
    margin-bottom: 1.32em;
  }

  /* line 147, ../scss/home.scss */
  .contact {
    font-size: 1.584em;
    margin-top: 0.99em;
    line-height: 2;
  }
}
