/* -----------------------------------------
   Defaults
----------------------------------------- */
@font-face {
  font-family: 'ChaparralProRegular';
  src: url("../fonts/chaparralpro-regular-webfont.eot");
  src: url("../fonts/chaparralpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/chaparralpro-regular-webfont.woff") format("woff"), url("../fonts/chaparralpro-regular-webfont.ttf") format("truetype"), url("../fonts/chaparralpro-regular-webfont.svg#ChaparralProRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 29, ../scss/resume-print.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* line 33, ../scss/resume-print.scss */
h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

/* line 38, ../scss/resume-print.scss */
ul {
  list-style: none;
}

/* line 42, ../scss/resume-print.scss */
img {
  display: block;
}

/* line 46, ../scss/resume-print.scss */
* {
  box-sizing: border-box;
  position: relative;
}

/* -----------------------------------------
   Scaffolding
----------------------------------------- */
/* line 57, ../scss/resume-print.scss */
.row {
  width: 100%;
  *zoom: 1;
}
/* line 61, ../scss/resume-print.scss */
.row:before, .row:after {
  content: "";
  display: table;
}
/* line 65, ../scss/resume-print.scss */
.row:after {
  clear: both;
}
/* line 68, ../scss/resume-print.scss */
.row .col {
  float: left;
}

/* -----------------------------------------
   Specifics.
   Colors: http://www.colourlovers.com/pattern/2046485/the_world_of_mine
----------------------------------------- */
/* line 80, ../scss/resume-print.scss */
body {
  font-family: 'ChaparralProRegular', Georgia;
  color: #000000;
  font-size: 13px;
}

/* line 86, ../scss/resume-print.scss */
a {
  color: #000000;
  text-decoration: none;
}

/* line 91, ../scss/resume-print.scss */
.page {
  margin: 0 auto;
}

/* line 95, ../scss/resume-print.scss */
header {
  padding: 0 0 2em;
}
/* line 98, ../scss/resume-print.scss */
header h1 {
  line-height: .8em;
  font-size: 3em;
  float: left;
}
/* line 103, ../scss/resume-print.scss */
header .contact {
  font-size: 1em;
  float: right;
  text-align: right;
  position: absolute;
  right: 0;
}

/* line 112, ../scss/resume-print.scss */
.kittehs {
  display: none;
}

/* line 117, ../scss/resume-print.scss */
.content .area {
  margin-top: 1.5em;
}
/* line 120, ../scss/resume-print.scss */
.content .area h2 {
  margin-bottom: 0.5em;
}
/* line 123, ../scss/resume-print.scss */
.content .area .info {
  padding-left: 1em;
}
/* line 126, ../scss/resume-print.scss */
.content .area .info .slice {
  margin-bottom: .75em;
}
/* line 129, ../scss/resume-print.scss */
.content .area .info .slice p {
  line-height: 1.2em;
  margin-top: 0.5em;
  text-indent: -1em;
}
/* line 134, ../scss/resume-print.scss */
.content .area .info .slice p:first-child a {
  color: inherit;
}

/* line 144, ../scss/resume-print.scss */
.area:first-child, .area .info .slice:first-child, .area .info .slice p:first-child {
  margin-top: 0;
}
