#work {

    .subtitle .del {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .section-listitem {
        margin-top: 1.5rem;
    }

    .section-listitem-inner>button {
        display: inline-flex;
        justify-content: space-between;
        align-content: center;
        flex-grow: 1;
        gap: 1rem;

        border-radius: 0.25rem;
        padding: 0.25rem;

        margin-top: -0.75rem;
        margin-left: -0.75rem;


        cursor: pointer;

        .work-trigger-content {
            padding: 0.5rem;
        }

        .work-trigger-arrow {
            display: none;
            padding: 0.5rem 0 0.5rem;
            align-items: center;

            opacity: 0;
            transition-property: opacity;
            transition-timing-function: ease-out;
        }

        &:hover,
        &:active,
        &:focus {
            display: flex;
        }

        &:hover,
        &:active {
            .work-trigger-arrow {
                transition-duration: 0.15s;
            }
        }

        &:focus {
            .work-trigger-arrow {
                transition-duration: 0s;
            }
        }

        &:hover,
        &:focus {
            .work-trigger-arrow {
                opacity: 1;
            }
        }
    }
}