.modal {
    --close-btn-size: 32px;
    --content-padding: 6px;

    margin: auto;
    padding: calc(var(--close-btn-size) + var(--content-padding));
    border: none;
    max-width: 640px;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    color: var(--white);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    border-radius: var(--border-radius);

    &::backdrop {
        background: rgba(0, 0, 0, 0.6);
    }

    button {
        position: absolute;
        top: 0px;
        right: 0px;
        height: var(--close-btn-size);
        width: var(--close-btn-size);
        padding: calc(var(--content-padding) / 2);
        background: rgba(0, 0, 0, 0.8);
    }
}