body {
  background: repeating-linear-gradient(45deg,
      rgba(29, 183, 101, var(--bg-color-transparency)) 0%,
      rgba(223, 119, 0, var(--bg-color-transparency)) 33%,
      rgba(114, 70, 181, var(--bg-color-transparency)) 67%,
      rgba(29, 183, 101, var(--bg-color-transparency)) 100%), black;
  color: var(--white);
  padding: 0 2rem 10rem;

  @media (max-width: 1024px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

header,
section {
  max-width: var(--content-width);
  margin: 0 auto;
}



.subtitle {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-top: 0.25rem;
}

.del {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.focusable {
  outline: 1px dotted transparent;
  background: transparent;
  transform: scale(1);
  transition-property: outline-color, background-color;
  transition-timing-function: ease-out;

  &:hover,
  &:focus {
    outline-color: var(--white);
    background: rgba(0, 0, 0, 0.15);
    transition-duration: 0.15s;
  }

  &:active {
    outline-style: solid;
    background: rgba(0, 0, 0, 0.25);
    transform: scale(0.97);
    transition-duration: 0s;
  }
}